
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">Oouch!!! My bad!!!</div>
    <div class="panel-body">
        An error has occurred. Please contact the <strong>Administrator</strong><a href="mailto:avangari@gmail.com">Support@homescorer.us</a>
    </div>
</div>