@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>RealtorFICO provides a list of properties on sale, given a city/zipcode, in descending order of desirability.</p>
