@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>
<h3>
    At HomeScorer, we know how a home hunter gets frustrated researching on properties to buy. <p />
    So we are here to support you and help you relax and spend a fraction of that time.
</h3>

<p></p><p></p>
At HomeScorer, your home hunting can be as easy as <b>1, 2, 3</b><br/>
<ul>
    <li>1. You have already done that - you are on our site.</li>
    <li>2. Enter your city or zipcode and the filter criteria and then click the submit button on our home page. Filter criteria is optional.</li>
    <li>3. Hurray - You are presented with a list of properties in descending order of desirability. All you need to do now is research on the top few.</li>
</ul>

<p></p>
We do all the ground work. <br />
We research on each of the property by looking into minute details on each property based on various factors including but not limited to <br />
<ul>
    <li>Location</li>
    <li>Schools</li>
    <li>Listed Price</li>
    <li>Type of the structure</li>
    <li>Monthly Rental Value</li>
    <li>HOA Fees</li>
    <li>Finished Size</li>
    <li>Number of Bedrooms</li>
    <li>Number of Bathrooms</li>
    <li>Number of Stories</li>
    <li>Year Built</li>
    <li>Last Sold Date</li>
    <li>... to name a few</li>
</ul>

<p></p>
Please see our <b>@Html.ActionLink("FAQ", "Faq", "Home")</b> page to know more about how we calculate desirability scores and what factors are included in calculating these scores.


