@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">
        At HomeScorer, we know how a home hunter gets frustrated researching on properties.<br />
        So we are here to support you and help you relax, and spend a fraction of that time in deciding which property to buy.
    </div>
    <div class="panel-body">
        On our website, your home hunting can be as easy as <b>1, 2, 3</b><br />
        <ul>
            <li>Number <b>1.</b> You have already done that - you are on our site.</li>
            <li>Number <b>2.</b> Enter your city or zipcode followed by filter criteria and then click the submit button on our home page. Filter criteria is optional.</li>
            <li>Number <b>3.</b> Hurray - You are presented with a list of properties in descending order of desirability. All you need to do now, is research on the top few.</li>
        </ul>
    </div>
</div>

<p></p><p></p>

<div class="panel panel-primary">
    <div class="panel-heading">
        We do all the ground work. <br />
    </div>
    <div class="panel-body">
        We research on each of the property by looking into smallest details on each property based on various factors including but not limited to:
        <ul>
            <li>Location</li>
            <li>Schools</li>
            <li>Listed Price</li>
            <li>Type of the structure</li>
            <li>Monthly Rental Value</li>
            <li>HOA Fees</li>
            <li>Finished Size</li>
            <li>Number of Bedrooms</li>
            <li>Number of Bathrooms</li>
            <li>Number of Stories</li>
            <li>Year Built</li>
            <li>Last Sold Date</li>
            <li>... to name a few</li>
        </ul>
    </div>
</div>

<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">Questions?</div>
    <div class="panel-body">
        Please see our <b>@Html.ActionLink("FAQ", "Faq", "Home")</b> page to know more about how we calculate desirability scores and what factors are included in calculating these scores.
    </div>
</div>


