@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-primary">
    <div class="panel-heading">Snail Mail</div>
    <div class="panel-body">
        <address>
            Downey, CA <br />
            Cerritos, CA 90703<br />
            @*<abbr title="Phone">P:</abbr>*@
        </address>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">EMail</div>
    <div class="panel-body">
        <address>
            <strong>Support:</strong>   <a href="mailto:realtorfico@gmail.com">support@homescorer.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:realtorfico@gmail.com">marketing@homescorer.com</a>
        </address>    </div>
</div>

