@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Downey, CA <br />
    Cerritos, CA 90703<br />
    @*<abbr title="Phone">P:</abbr>*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:avangari@gmail.com">Support@homescorer.us</a><br />
    <strong>Marketing:</strong> <a href="mailto:balaramnaidu@gmail.com">Marketing@homescorer.us</a>
</address>