@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="panel panel-primary">
    <div class="panel-heading">Snail Mail</div>
    <div class="panel-body">
        <address>
            Downey, CA <br />
            Cerritos, CA 90703<br />
            @*<abbr title="Phone">P:</abbr>*@
        </address>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">EMail</div>
    <div class="panel-body">
        <address>
            <strong>Support:</strong>   <a href="mailto:avangari@gmail.com">Support@homescorer.us</a><br />
            <strong>Marketing:</strong> <a href="mailto:balaramnaidu@gmail.com">Marketing@homescorer.us</a>
        </address>    </div>
</div>

